name: Run WebdriverIO tests in Docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t webdriver-tests .

      - name: Run tests in Docker
        run: docker run --rm webdriver-tests